.myButton {
	 
	background-color:#005980;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:12px 37px;
	text-decoration:none;
	 
}

.glowtext {


	color:#191970;
	font-family:Arial;
	font-size:16px;
	padding:12px 37px;
	text-decoration:none;
	 
}
